.layout-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: linear-gradient(to top, #15202b, #192734);
}

.layout-container .sidebar {
  width: 100px;
  height: 100vh;
  background-color: #e5e5e5;
  overflow: hidden;
}

/* dashboard-body */
.layout-container .body {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/* dashboard-header */
.layout-container .body .header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  padding: 2rem;
}

.layout-container .body .header .profile-name {
  color: #fff;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: default;
}

.layout-container .body .header .profile-name span {
  color: #d65a31;
  font-size: 1.5rem;
  font-weight: bold;
}

.layout-container .body .header .header-buttons {
  display: flex;
  align-items: center;
  position: relative;
}

.layout-container .body .header .header-buttons i {
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}
.layout-container .body .header .header-buttons i .noti {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #d65a31;
  position: absolute;
  right: -2px;
  top: -2px;
}

.layout-container .body .header .header-buttons .profile {
  display: flex;
  align-items: center;
  position: relative;
}

.layout-container .body .header .header-buttons .profile .profile-logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 20px;
  background-color: #fff;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.layout-container .body .header .header-buttons .profile .profile-menu {
  position: absolute;
  right: 0;
  width: 150px;
  background-color: #fff;
  top: 4vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-container .body .header .header-buttons .profile .profile-menu p {
  width: 100%;
  margin: 0.25rem 0;
  padding: 0.5rem 0;
  color: #464646;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-out;
}

.layout-container .body .header .header-buttons .profile .profile-menu p:hover {
  background-color: #d65a31;
  color: #fff;
  font-weight: 600;
  transition: all 0.15s ease-out;
}

.layout-container .body .content {
  width: 100%;
  height: 93vh;
  display: flex;
  overflow-y: scroll;
}
